.bb_tmtimeline {
    margin: 30px 0 0 0 !important;
    padding: 0;
    list-style: none !important;
    position: relative;
} 

/* The line */
.bb_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

/* The date/time */
.bb_tmtimeline > li {
	position: relative;
	margin: 0 !important;
}

.bb_tmtimeline > li .bb_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.bb_tmtimeline > li .bb_tmtime span {
	display: block;
	text-align: right;
}

.bb_tmtimeline > li .bb_tmtime span:first-child {
	font-size: 18px;
	line-height: 2;
	color: #bdd0db;
}

/* Right content */
.bb_tmtimeline > li .bb_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.bb_tmtimeline > li:nth-child(odd) .bb_tmlabel {
	background: #6cbfee;
}

.bb_tmtimeline > li .bb_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.bb_tmtimeline > li .bb_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.bb_tmtimeline > li:nth-child(odd) .bb_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.bb_tmtimeline > li .bb_tmicon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
.bb_tmicon i {
    line-height: 2.1;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.bb_tmtimeline > li .bb_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.bb_tmtimeline:before {
		display: none;
	}

	.bb_tmtimeline > li .bb_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.bb_tmtimeline > li .bb_tmtime span {
		text-align: left;
	}

	.bb_tmtimeline > li .bb_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.bb_tmtimeline > li .bb_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.bb_tmtimeline > li:nth-child(odd) .bb_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.bb_tmtimeline > li .bb_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}